kind: Deployment
apiVersion: apps/v1beta1
metadata:
  name: ${APP_NAME}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ${APP_NAME}
    spec:
      containers:
      - name: ${APP_NAME}
        image: ${ECR_IMAGE}
